<?xml version="1.0" encoding="utf-8" ?>
<Servers>
	<Server>
		<DataCache>DataForConfig</DataCache>
		<DataOrderBy>1</DataOrderBy>
		<DataName>kalegou-sup</DataName>
		<DataService>192.168.0.20</DataService>
		<DataPort></DataPort>
		<DataUser>sa</DataUser>
		<DataPassword>sql</DataPassword>
		<DataMaxPool>800</DataMaxPool>
		<DataTimeOut>60</DataTimeOut>
		<DataNote>Sup数据库</DataNote>
	</Server>
</Servers>